//Colores
$white: #FFF;
$isabelline: #ECECEC;
$lightGray: #D1D1D1;
$smokyBlack: #0C0910;
$graniteGray: #646266;
$quickSilver: #A6A5A8;

//Tamaño Fuentes
$xx-large: 50px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
