article{
    display: inline-block;
    width: 100%;
    padding: 0% 10%;
    h3{
        font-size: $xx-large;
        font-family: 'Old Standard TT', serif;
        font-weight: 700;
        text-transform: uppercase;
    }
    p{
        font-size: $small;
        font-family: 'Raleway', sans-serif;
    }

}
.formContainer{
    background-color: $smokyBlack;
    color: $white;
    font-family: 'Raleway', sans-serif;
    transition: background-color 2s, color 2s, border 2s;
    #formTitle{
        font-size: $x-large;
        font-family: 'Old Standard TT', serif;
        font-weight: 700;
        margin: 0;
    }
    label{
        font-family: 'Old Standard TT', serif;
        font-weight: 400;
        font-size: $small;
    }
    input{
        border-radius: 0px;
        font-size: $small;
    }
    #formVertical{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        p{
            transform: rotate(90deg);
            font-family: 'Old Standard TT', serif;
            font-weight: 700;
            font-size: $large;
            color: $smokyBlack;
        }
    }
}
.formContainer:hover{
    background-color: $white;
    color: $smokyBlack;
}
#mainImage{
    transition: filter 2s;
}
#mainImage:hover{
    filter: sepia(100%)
}